[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "aiohttp>=3.13.2",
    "python-telegram-bot>=22.5",
    "requests>=2.32.5",
    "yt-dlp>=2025.12.8",
]
